[Unit]
Description=Ejecuta la sincronización de la memoria periódicamente

[Timer]
# Arranca 2 min tras el arranque, y luego cada 5 min.
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
